#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar-container{
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.search{
  padding: 10px 20px; 
  border-radius: 20px;
}

select{
  padding: 10px 20px;
  border-radius: 20px;
}

option{
  text-transform: capitalize;
}

.task-card {
  border: 1px solid white;
  width: 300px;
}

.form-container{
  padding: 20px;
  display: flex;
  justify-content: center;
}
form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 400px;
}

form input{
  padding: 10px 20px;
  border-radius: 20px;
}

.todo-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 20px;
}
