#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.task-card {
  border: 1px solid white;
  width: 300px;
}

.todo-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
