html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.bodyContainer > .addTaskButton {
  width: fit-content;
}

.todo-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgba(181, 181, 181, 0.149);
  padding: 10px;
  border-radius: 10px;
}

.task-container .container {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-card {
  border: 1px solid rgba(128, 128, 128, 0.588);
  text-align: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
}

.task-card .head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.status-tag {
  width: fit-content;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
}

.form-container {
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(21, 20, 20, 0.818);
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  position: absolute;
  top: -30px;
  right: -10px;
  color: white;
  font-size: 30px;
}

.closeButton:hover {
  cursor: pointer;
}

.status-title {
  text-transform: capitalize;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%;
  margin: auto;
  border: 1px solid rgba(128, 128, 128, 0.392);
  border-radius: 10px;
  padding: 20px;
  color: white;
  position: relative;
}

.form-container form input,
.form-container form textarea {
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.25);
  border: none;
  color: white;
}

.form-container form input ::placeholder,
.form-container form textarea ::placeholder {
  color: white;
  opacity: 0.7;
}

.form-container form input[type="submit"] {
  background-color: white;
  color: black;
  font-size: 1.1rem;
}

.navbar-container {
  padding: 30px 20px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.navbar-container .addTaskButton {
  height: 100%;
}

.navbar-container select {
  border-radius: 5px;
  padding: 10px 20px;
}

.navbar-container input {
  border-radius: 5px;
  padding: 10px 20px;
}

.search {
  padding: 10px 20px;
}

.addTaskButton {
  background-color: rgba(0, 0, 0, 0.813);
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  height: 100%;
}

.addTaskButton:hover {
  background-color: black;
  cursor: pointer;
}

.navbar-container h1 {
  font-size: 20px;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
}

.top-container {
  display: flex;
  justify-content: space-between;
}

.delete-todo {
  border: transparent;
  background-color: transparent;
  color: red;
  font-weight: 600;
}

.delete-todo:hover {
  cursor: pointer;
}

.update-todo {
  border: transparent;
  background-color: transparent;
  color: green;
  font-weight: 600;
}

.update-todo:hover {
  cursor: pointer;
}

.fadein {
  animation: opac 0.2s;
}

@keyframes opac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
